<div id="header" class="container-fluid">
  <h1 id="title" class="d-inline">G.Y.M.<span class="title-small">Banking</span></h1>
  <button class="btn btn-danger d-inline right"><a href="/logout">Log out</a></button>
</div>
<main>
  <div class="container welcome">
    <h5>Welcome to the Banking app, {{user.name}}!</h4>
  </div>

  <div class="standard-design ">
    <div class="d-flex item justify-content-center margin-top">
      <h4 class="font-weight-bold"> Current balance: £{{user.balance}}</h4>
    </div>
    <div class="d-flex item justify-content-center">
      <form action="/topup" method="POST">
        <input name="amount" type="text" placeholder="0.00" required />
        <button class="btn btn-success">Top up</button>
      </form>
      <br>
    </div>
    <div class="d-flex item justify-content-center">
      <button class="btn btn-info"><a href="/pay">Transfer money</a></button>
    </div>
  </div>
  <br>
  <div class="standard-design margin-top ">
    <div class="d-flex item margin-bottom">
      <h5>Your Friends</h5>
    </div>
    <div class=" margin-bottom"></div>
    <ul style="list-style-type: none;">
      <li value="5000">fred@live.com</li>
      {{#each friends}}
      <li value="{{this.id}}">{{this.email}}</li>
      {{/each}}
    </ul>
  </div>

  {{!-- <form action="/invite" method="POST">
    <input name="email" type="text" placeholder="Enter email" required />
    <button>Invite</button>
  </form> --}}
  <div class=" container friend-request d-flex justify-content-center">
    <form action="/friends/invite" method="POST">
      <input class="d-inline" name="friendEmail" type="email" placeholder="E-mail" />
      <input class="d-inline" name="email" type="hidden" placeholder={{user.email}} />
      <button class="btn btn-primary d-inline">Invite a friend</button>
    </form>
  </div>


</main>
{{!-- <h1>Welcome to the Banking app, {{req.oidc.user.name}}!</h1> --}}
{{!-- <h2>{{user.balance}}</h2> --}}